.facility-guidance-head {
    background-image: url('../images/facility-guidance-top.webp');
}

.map-position {
    margin-top: -1rem;
}

.fg-h2 {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 40px 0px 20px;
}

.fg-txt {
    color: #00214A;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0rem;
    margin-left: 1rem;
}

.margin-left {
    margin-left: 0rem!important;
}

.title-txt {
    color: #00214A;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0rem;
    margin-left: 1rem;
}

.explanation-txt {
    color: #000000;
    font-size: 30px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0rem;
    margin-left: 1rem;
}

.ima-75 {
    width: 75%;
}

.map-txt {
    margin-left: 10px;
    margin-top: 15px;
}

.map {
    margin-left: 50px;
}