.first-view ul {
    padding: 0;
    margin: 0;
}

.first-view .dogandcat{
    position: absolute;
    top: 626px;
    right: 36px;
    width: 530px;
}

.compatible-pets{
    background-color: #00214A;
}

.compatible-pets p{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-bottom: solid 5px;
    height: 70px;
}

section.catch-copy{
    background-image: url('../images/bluesky.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

section.catch-copy .catch-copy-content {
    text-align: center;
}

section.catch-copy .catch-copy-content img {
    width: 175px;
    margin-top: 30px;
}

section.catch-copy .catch-copy-content .catch-copy-text {
    margin-top: 60px;
    margin-bottom: 60px;
}

section.catch-copy .catch-copy-content .catch-copy-text p {
    margin-bottom: 35px;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 3px 3px 4px #5b5b5b;
}


.m-70 {
    margin-top: 70px;
}
.m-90 {
    margin-top: 90px;
}
.introduction-image{
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: contain;
}
.img-container{
    width: 57%;
}

.text-container{
    width: 43%;
    text-align: center;
}

.text-position-left{
    position: relative;
    left: -35px;
    padding: 20px;
}

.text-position-right {
    position: relative;
    left: 35px;
    padding: 20px;
}

.company-introduction h3 {
    color: #00214A;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 3px 3px 7px #5b5b5b;
}
.hr-shadow{
    border: 2px solid #000000;
    opacity: unset;
    box-shadow: 3px 3px 7px #5b5b5b;
    margin: 0;
}
.h3-sub{
    color: #00214A;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 3px 3px 7px #5b5b5b;
}

.introduction-text{
    margin-top:50px;
    font-size:25px;
    font-weight: bold;
    text-shadow: 3px 3px 7px #5b5b5b;
}

.introduction-button {
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    border: solid 5px;
    border-radius: 0px;
    padding: 10px 60px;
    box-shadow: 3px 3px 7px #5b5b5b;
    text-shadow: 3px 3px 7px #5b5b5b;
}

.whats-new{
    margin-top: 80px;
    padding: 60px 0;
    background-color: #e2e2e2;
}

.whats-new-title{
    width:33%;
    margin:0 auto;
    text-align: center;
}

.whats-new-title h3{
    color: #00214A;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 3px 3px 7px #5b5b5b;
}

.whats-new-content{
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: contain;
    height: 430px;
    width: 90%;
    margin:40px auto;
}

.whats-new-content .scroll-area{
    width: 60%;
    background-color: #FFFFFF;
    overflow-y: scroll;
    height:300px;
    border: 5px solid #000000;
    padding: 15px;
    margin:15px;
}

.whats-new-content .image-area {
    width: 40%;
    text-align: center;
}
.whats-new-content .image-area img{
    width: 360px;
}
.whats-new-content .post-item{
    padding: 10px 15px;
    border-bottom: 3px solid;
    font-size: 24px;
    font-weight: 600;
}

.whats-new-content .post-item p {
    margin-bottom: 0;
}

.sns-title {
    text-align: center;
    font-size: 40px;
}

.sns-area{
    width: 90%;
    margin: 0 auto;
}

@media screen and (max-width: 1439px) {
    .first-view .dogandcat {
        position: absolute;
        top: 47vw;
        right: 36px;
        width: 367px;
    }

    .company-introduction h3 {
        font-size: 2.8vw;
    }

    .h3-sub {
        font-size: 2vw;
    }

    .introduction-text {
        font-size: 1.7vw;
        margin-top: 3vw;
    }

    .introduction-button {
        margin-top: 3vw;
        font-size: 2vw;
    }
    .m-90 {
        margin-top: 7vw;
    }
}


@media screen and (max-width: 470px) {
    .content-margin {
        padding: 4vw 0;
    }

    .compatible-pets p {
        font-size: 3vw;
        height: 8vw;
        border-bottom: solid 3px;
        font-weight: normal;
    }

    section.catch-copy .catch-copy-content{
        padding-top: 10vw;
    }
    section.catch-copy .catch-copy-content img{
        width: 20vw;
        margin-top: 0px;
    }
    section.catch-copy .catch-copy-content .catch-copy-text p{
        margin-bottom: 10vw;
        font-size: 3.5vw;
        text-shadow: none;
    }
    .introduction-bg{
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        color: whitesmoke;
        margin-top: 5px;
        padding: 10px;
    }
    .bg-img1{
        background-image: url('../images/sp/Facility-Guidance.webp');
    }
    .bg-img2{
        background-image: url('../images/sp/Commitment.webp');
    }
    .bg-img3 {
        background-image: url('../images/sp/Funeral-Plan.webp');
    }
    .bg-img4 {
        background-image: url('../images/sp/Usage-Flow.webp');
    }
    .bg-img5 {
        background-image: url('../images/sp/Representative_s-thoughts.webp');
    }
    .bg-img6 {
        background-image: url('../images/sp/Frequently-Asked-Questions.webp');
    }
    .company-introduction h3 {
        font-size: 7vw;
        color: whitesmoke;
        font-weight: normal;
        padding-left: 25px;
    }

    .company-introduction hr{
        border: solid 1px #FFFFFF;
        opacity: 100;
        margin-bottom: 1vw;
        margin-top: 1vw;
    }

    .company-introduction .sub-title {
        padding-left: 33px;
        font-size: 3vw;
    }
    
    .company-introduction .introduction-content{
        text-align: center;
    }

    .detail-btn{
        text-align: right;
    }

    .introduction-button {
        margin-top: 3vw;
        font-size: 15px;
        font-weight: normal;
        border: solid 3px;
        border-radius: 0px;
        padding: 10px 25px;
        box-shadow: 3px 3px 7px #5b5b5b;
        text-shadow: 3px 3px 7px #5b5b5b;
    }
    .whats-new{
        margin-top: 0px;
    }
    .whats-new-title h3 {
        font-size: 7vw;
    }
    
    .h3-sub {
        font-size: 4vw;
    }
    .whats-new-content{
        height: auto;
    }
    .whats-new-content .scroll-area {
        width: 100%;
        height:200px;
    }

    .whats-new-content .post-item {
        font-size: 3vw;
    }
    .whats-new-content .image-area {
        display: none;
    }
    .sns-title {
        text-align: center;
        font-size: 6vw;
    }

    .first-view .dogandcat {
        position: absolute;
        top: 85vw;
        right: 4px;
        width: 150px;
    }
}