/* ヘッダー共通 */


.second-header {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: 730px;
}
.second-header .second-title{
    width: 33%;
    text-align: center;
    margin: 0 auto;
    padding-top: 260px;
}
.second-header .second-title h1{
    color: #00214A;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 3px 3px 7px #5b5b5b;
}

.second-header .plan-title {
    width: 33%;
    text-align: center;
    margin: 0 auto;
    padding-top: 170px;
}

.second-header .plan-title h1 {
    color: #FEFEFE;
    font-size: 50px;
    font-weight: bold;
}

.second-header .plan-title img {
    width: 25%;
}

.second-header .second-title hr {
    height: 5px;
    opacity: 100;
    color: #00214A;
    box-shadow: 3px 3px 7px #5b5b5b;
    margin: 0;
}

.second-header .second-title h2 {
    color: #00214A;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 3px 3px 7px #5b5b5b;
}

.second-header .dogandcat {
    margin-top: 190px;
    text-align: right;
}

.second-header.visit-plan-head .dogandcat {
    margin-top: 160px;
    text-align: right;
}

.second-header .dogandcat img{
    width: 430px;
}

.commitment-head {
    background-image: url('../images/Commitment-top.webp');
}
.funeral-plan-head {
    background-image: url('../images/Funeral-Flow-and-Plan-top.webp');
}
.visit-plan-head {
    background-image: url('../images/visit-plan/top-bg.webp');
}
.second-description {
    background-color: #00214A;
}

.second-description p{
    color: #FFFFFF;
    text-align: center;
    padding: 15px 0;
    font-size: 50px;
}

.commitment-content{
    padding: 50px;
}

.commitment-content-row{
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    justify-content: space-evenly;
}

.commitmentt-content-img{
    width: 30%;
}

.commitment-content-text{
    padding-top: 55px;
}

.commitment-content-right{
    margin-left: 50px;
}

.commitment-title{
    color: #00214A;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 3px 3px 7px #5b5b5b;
}

.commitment-text{
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 3px 3px 7px #5b5b5b;
}

.commitment-content-thought {
    padding: 10px;
}
.commitment-content-faq {
    padding: 10px;
}

@media screen and (max-width: 1439px) {
    .second-description p {
        font-size: 4vw;
    }

    .commitment-title {
        font-size: 3vw;
    }

    .commitment-text {
        font-size: 2vw;
    }

    .commitment-content-text {
        padding-top: 5vw;
    }
    .commitment-content-img img{
        width: 30vw;
    }

    .commitment-content-row {
        justify-content: space-between;
    }
}

@media screen and (max-width: 470px) {
    .dogandcat {
        position: absolute;
        top: 52px;
        right: 15px;
        width: 150px;
    }

    .second-header {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        height: 292px;
    }
    .second-header .second-title{
        width: 40%;
        text-align: center;
        margin: 0 auto;
        padding-top: 130px;
    }
    .second-header .second-title h1{
        color: #ffffff;
        font-size: 30px;
        font-weight: bold;
        text-shadow: 3px 3px 7px #5b5b5b;
    }
    
    .second-header .second-title hr {
        height: 5px;
        opacity: 100;
        color: #ffffff;
        box-shadow: 3px 3px 7px #5b5b5b;
        margin: 0;
    }
    .second-header .second-title h2 {
        color: #ffffff;
        font-size: 25px;
        font-weight: bold;
        text-shadow: 3px 3px 7px #5b5b5b;
    }
}

/* 葬儀プランと流れ */
.funeral-plan-description {
    margin: 50px 0;
}

.funeral-plan-description-1st {
    font-size: 50px;
    font-weight: bold;
    color: #00214A;
    border-bottom: 3px solid #00214A;
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
}

.funeral-plan-description-2nd {
    font-size: 40px;
    font-weight: bold;
    color: #00214A;
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
    margin-top: 40px;
}

.funeral-plan-description-3rd {
    text-align: center;
    font-size: 27px;
    font-weight: nomal;
    color: #00214A;
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
    margin-top: 40px;
}


.funeral-plan-anchi{
    background-color: #E2E2E1;
}

.funeral-anchi-content{
    padding:40px 0;
    width:90%;
    margin:0 auto;
}
.funeral-plan-anchi-1st {
    font-size: 50px;
    font-weight: bold;
    color: #00214A;
    border-bottom: 3px solid #00214A;
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
}

.funeral-plan-anchi-2nd {
    font-size: 40px;
    font-weight: bold;
    color: #00214A;
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
    margin-top: 40px;
}

.funeral-plan-anchi-3rd {
    text-align: center;
    font-size: 27px;
    font-weight: nomal;
    color: #00214A;
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
    margin-top: 40px;
}

.funeral-plan-step{
    border: 2px solid #00214A;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}
.step-title{
    width: fit-content;
    background-color: #E2E2E1;
    font-size: 45px;
    font-weight: bold;
    padding: 5px 20px;
    position: relative;
    top: 45px;
    left: 120px;
    color: #00214A;
}
.step-img{
    text-align: center;
    width: 40%;
}

.step-img img{
    width: 80%;
    padding: 70px 30px;
}

.step-text{
    width: 60%;
    color: #00214A;
}

.step-text-top {
    font-size: 25px;
    font-weight: bold;
    width: 95%;
    }

.step-text-sec {
    font-size: 20px;
    font-weight: bold;
    width: 85%;
}
.arrow-tri {
    text-align: center;
    margin-top: 90px;
}
.arrow-tri img{
    width: 5%;
}

.plan-tel-area{
    background-color: #FEFEFE;
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
}

.plan-tel-area-first {
    font-size: 30px
}
.plan-tel-area-second {
    font-size: 60px;
    color: #00214A;
}

.funeral-plan-detail{
    width: 85%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.funeral-plan-detail h2 {
    font-weight: bold;
    font-size: 40px;
}
.funeral-plan-detail p {
    font-size: 25px;
    margin: 50px 0;
}
.funeral-plan-detail img {
    margin-bottom: 50px;
}
.funeral-plan-detail a {
    width: fit-content;
    margin: 0 auto;
}

/* 各種プラン画面 */

.plan-arrow-tri {
    text-align: center;
    margin-top: 30px;
    margin-bottom: -60px;
}

.plan-arrow-tri img {
    width: 7%;
}
.second-top-text{
    padding-top: 50px;
    text-align: center;
    margin: 0 auto;
    width: 85%;
}

.about-plan-text{
    font-size: 50px;
    font-weight: bold;
    color: #00214A;
}

.second-top-text hr{
    width: 320px;
    margin: 2em auto;
    color: #00214A;
    border: solid 1px;
    opacity: 100;
}

.about-plan-description{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px;
}

.osusume-square{
    margin: 0 auto;
    width: 650px;
    border: solid 3px #00214D;
    border-radius: 20px;
    margin-bottom: 50px;
}

.osusume-title{
    position: relative;
    top: -21px;
    background-color: #FFFFFF;
    width: 50%;
    margin: 0 auto;
    font-size: 25px;
    font-weight: bold;
    color: #00214A;
}

.second-gray-area{
    background-color: #DEDEDE;
    padding-bottom: 50px;
}

.second-flow-area{
    text-align: center;
    padding-bottom: 50px;
}

.about-plan-text{
    padding: 50px;
    text-align: center;
}

.img-area{
    width: 80%;
    margin: 0 auto;
}

.plan-step {
    border: 2px solid #00214A;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.plan-step-title {
    width: fit-content;
    background-color: #ffffff;
    font-size: 45px;
    font-weight: bold;
    padding: 5px 20px;
    position: relative;
    top: 45px;
    left: 217px;
    color: #00214A;
}

.plan-step-text-sec {
    font-size: 25px;
    font-weight: bold;
    width: 85%;
}

.plan-link{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 50px;
}