.spview {
    display: none;
}

body{
    max-width: 1440px;
    margin:0 auto;
    font-family: 'Zen Maru Gothic', serif !important;
    padding-bottom: 0;
}

.mine-header{
    background-color: #00214A;
    height:115px;
    width: 100%;
    color: whitesmoke;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

#logo img{
    width: 300px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

.content-margin{
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
}

.mine-footer{
    background-image: url('http://localhost/mine/wp-content/themes/mine/resources/images/footer-bg.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    text-align: center;
    padding: 50px;
    padding-top: 0px;
}

.mine-footer p { 
    margin-bottom: 0;
    color: #FFFFFF;
    font-size: 40px;
}

.mine-footer p.telnum {
    color: #ffff00;
    font-size: 70px;
    letter-spacing: 5px;
    font-weight: bold;
}

.mine-footer p.tel-str {
    font-size: 30px;
}


@media screen and (max-width: 1439px) {
    nav a {
            font-size: 1.8vw;
        }
}

@media screen and (max-width: 470px) {
    .pcview {
        display: none;
    }
    .spview {
        display: block;
    }

}