.faq-head {
    background-image: url('../images/faq-top.webp');
}

.white-box {
    background-color: #ffffff;
    width: 80%;
    margin: auto;
}

.faq-question-text {
    font-size: 30px;
    margin-top: 0.5rem;
    border-bottom: 3px solid #00214A;
}

.faq-answer-text {
    font-size: 30px;
    margin-top: 0.5rem;
    border-bottom: 3px solid #2c7ca3;
}

.faq-link {
    display: inline;
    color: #2c7ca3 !important;
}